.join-member-banner {
  width: min(1200px, 90%);
  display: block;
  background-color: #7cb1dc;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  padding: 10px 0px;
  color: #000;
  border-radius: 12px;
  margin: 0 auto;
  text-decoration: none;
  transition: background 0.3s;
}

.join-member-banner:hover {
  background-color: #6ba3d0;
  cursor: pointer;
}

.highlight {
  color: #000;
}
